{% extends 'base.html' %}
{% load bootstrap3 %}

{% block header %}
  <h3>新建博客</h3>
{% endblock %}

{% block content %}
  <form action="{% url 'contents:add_blog' %}" method="post">
    {% csrf_token %}

    <div>
      标题：<input type="text" name="title" value="{{ new_title }}" />
    </div><br />

    <div>
      内容：<br />
      <textarea name="content" id="editor">{{ new_content }}</textarea>
    </div><br />

    <input type="submit" value="提交" class="btn btn-primary" />
  </form>
{% endblock %}
