{% extends 'base.html' %}

{% block header %}
  <h3 style="display: inline;">管理通知</h3>
  {% if user.is_superuser %}
    &nbsp;<a class="btn btn-default btn-sm" href="{% url 'contents:add_announcement' %}"><span class="glyphicon glyphicon-plus">&nbsp;添加通知</span></a>
  {% endif %}
{% endblock %}

{% block content %}
  <ul class="list-unstyled">
    {% for announcement in announcements %}
      {% if not announcement.is_hidden or user.is_superuser %}
        <li class="panel panel-default">
          <div class="panel-body">
            <div style="text-align:left;  float: left;">
              <h4><a href="{% url 'contents:detail_announcement' announcement.id %}" style="text-decoration: none; color: black;"><b>{{ announcement.title }}</b></a></h4>
              <p>
                <a href="{% url 'contents:announcement_user_home' announcement.id %}" style="text-decoration: none; color: black;"><img src="{{ announcement.author.profile.user_photo_url }}" width="30" height="30" class="img-rounded" /></a>&nbsp;
                <a href="{% url 'contents:announcement_user_home' announcement.id %}" style="text-decoration: none; color: black;"><b>{{ announcement.author }}</b></a> &nbsp; | &nbsp; <b>{{ announcement.date_added }}</b>
              </p>
            </div>
            <div class="list-group list-group-horizontal" style="text-align: right; float: right;">
              {% if user.is_superuser %}
                <a href="{% url 'contents:edit_announcement' announcement.id %}" class="list-group-item btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil">&nbsp;编辑</span></a>
                <a href="{% url 'contents:del_announcement' announcement.id %}" class="list-group-item btn btn-default btn-sm"><span class="glyphicon glyphicon-trash">&nbsp;删除</span></a>
              {% endif %}
            </div>
          </div>
        </li>
      {% endif %}
      {% empty %}
      <li>目前还没有通知</li>
    {% endfor %}
  </ul>
{% endblock %}
