{% extends 'base.html' %}

{% block header %}
  <h3 style="display: inline;">公开博客</h3>
  <a class="btn btn-default" href="{% url 'contents:add_blog' %}">添加博客</a>
  <form action="{% url 'contents:all_blogs' %}" method="post" style="text-align: right; float: right;">
    {% csrf_token %}
    <div class="input-group">
      <input type="text" name="keyword" />
      <span><input type="submit" value="搜索" /></span>
    </div>
  </form>
{% endblock %}

{% block content %}
  <ul class="list-unstyled">
    {% for blog in blogs %}
      {% if not blog.is_hidden %}
        {% if keyword in blog.title or keyword in blog.author.username %}
          <li class="panel panel-default">
            <div class="panel-body">
              <div style="text-align:left;  float: left;">
                <h4>{{ blog.title }}</h4>
                <p>
                  作者: <b>{{ blog.author }}</b> | 日期: <b>{{ blog.date_added }}</b>
                </p>
              </div>
              <div class="list-group" style="text-align: right; float: right;">
                <a href="{% url 'contents:detail_blog' blog.id %}" class="list-group-item">展开</a>
              </div>
            </div>
          </li>
        {% endif %}
      {% endif %}
      {% empty %}
      <li>目前还没有博客</li>
    {% endfor %}
  </ul>

{% endblock %}
