{% extends 'base.html' %}

{% block header %}
  <h3>公开博客</h3>
{% endblock %}

{% block content %}
  <ul class="list-unstyled">
    {% for blog in blogs %}
      {% if not blog.is_hidden %}
        <li class="panel panel-default">
          <div class="panel-body">
            <h4>{{ blog.title }}</h4>
            <p>
              作者: <b>{{ blog.author }}</b>
            </p>
            <p>
              日期: <b>{{ blog.date_added }}</b>
            </p>
            <p>
              <a href="{% url 'contents:detail_blog' blog.id %}">展开</a>
            </p>
          </div>
        </li>
      {% endif %}
      {% empty %}
      <li>目前还没有博客</li>
    {% endfor %}
  </ul>

  <p>
    <a href="{% url 'contents:add_blog' %}">添加博客</a>
  </p>
{% endblock %}
