{% extends 'base.html' %}
{% load bootstrap3 %}

{% block header %}
  <h3>{{ blog.title }}</h3>

  <div class="list-group list-group-horizontal">
    <small>
      <a href="{% url 'contents:blog_user_home' blog.id %}" class="list-group-item">作者: <img src="{{ blog.author.profile.user_photo_url }}" width="18" height="18" class="img-rounded" /> {{ blog.author }}</a>
      <a href="#" class="list-group-item">日期: {{ blog.date_added|date:'Y-m-d H:i:s' }}</a>
      <a href="#" class="list-group-item">浏览量：{{ blog.visit }}</a>
    </small>
  </div>
{% endblock %}

{% block content %}
  <div class="panel">{{ blog.text_content|safe }}</div>
  <br />
  <div class="panel panel-default">
    <div class="panel-heading">评论</div>
    {% for comment in comments %}
      <div class="panel-body">{{ comment.content|safe }}</div>
      <div class="panel-footer">
        <small>
          <a href="{% url 'contents:comment_user_home' comment.id %}" style="text-decoration: none; color: black;"><img src="{{ comment.author.profile.user_photo_url }}" width="18" height="18" class="img-rounded" /></a>
          <a href="{% url 'contents:comment_user_home' comment.id %}" style="text-decoration: none; color: black;">{{ comment.author }}</a> &nbsp; | &nbsp;{{ comment.date_added }}
        </small>
        {% if user.is_authenticated %}
          {% if user == comment.author or user == blog.author %}
            <a href="{% url 'contents:del_comment' comment.id %}" class="btn btn-default btn-xs" style="text-align:right; float:right;">删除</a>
          {% endif %}
        {% endif %}
      </div>
      {% empty %}
      <div class="panel-body">还没有评论</div>
    {% endfor %}
  </div>

  <br />

  <form class="panel panel-default" action="{% url 'contents:add_comment' blog.id %}" method="post">
    <div class="panel-heading">
      <div style="display: inline;">添加评论</div>
      <input type="submit" value="提交" class="btn btn-default btn-xs" style="float: right;" />
    </div>
    {% csrf_token %}
    <div class="panel-body">{{ commentform.media }}
      {{ commentform.content }}</div>
  </form>
{% endblock %}
