{% extends 'base.html' %}
{% load bootstrap3 %}

{% block header %}
  <h3>{{ blog.title }}</h3>

  <div class="list-group list-group-horizontal">
    <small>
      <a href="#" class="list-group-item">作者: {{ blog.author }}</a>
      <a href="#" class="list-group-item">日期: {{ blog.date_added|date:'Y-m-d H:i:s' }}</a>
      <a href="#" class="list-group-item">浏览量：{{ blog.visit }}</a>
    </small>
  </div>
{% endblock %}

{% block content %}
  <div class="panel">{{ blog.text_content|safe }}</div>
  <br />

  <h4>评论</h4>
  {% for comment in comments %}
    <div class="panel panel-default">
      <div class="panel-body">
        <div style="text-align:left;  float: left;">
          {{ comment.content }}
          <br />
          <small>{{ comment.author }} | {{ comment.date_added }}</small>
        </div>
        <div class="list-group list-group-horizontal" style="text-align:right; float: right;">
          {% if user.is_authenticated %}
            {% if user == comment.author or user == blog.author %}
              <a href="{% url 'contents:del_comment' comment.id %}" class="list-group-item">删除</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
    {% empty %}
    <p>还没有评论</p>
  {% endfor %}

  <br />

  <h4>添加评论</h4>
  <form action="{% url 'contents:add_comment' blog.id %}" method="post">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">提交</button>
    {% endbuttons %}
  </form>
{% endblock %}
