{% extends 'base.html' %}
{% load bootstrap3 %}

{% block header %}
  <h3>{{ announcement.title }}</h3>

  <div class="list-group list-group-horizontal">
    <small>
      <a href="{% url 'contents:del_announcement' announcement.id %}" class="list-group-item">管理员：<img src="{{ announcement.author.profile.user_photo_url }}" width="18" height="18" class="img-rounded" />{{ announcement.author }}</a>
      <a href="#" class="list-group-item">日期: {{ announcement.date_added|date:'Y-m-d H:i:s' }}</a>
    </small>
  </div>
{% endblock %}

{% block content %}
  <div class="panel">{{ announcement.text_content|safe }}</div>
{% endblock %}
