{% extends 'base.html' %}
{% load bootstrap3 %}

{% block header %}
  <h3>对通知 <i>{{ announcement.title }}</i> 进行编辑</h3>
{% endblock %}

{% block content %}
  <form action="{% url 'contents:edit_announcement' announcement.id %}" method="post">
    {% csrf_token %}

    <div>
      标题：<input type="text" name="title" value="{{ announcement.title }}" />
    </div><br />

    <div>
      内容：<br />
      <textarea name="text_content" id="editor">{{ announcement.text_content }}</textarea>
    </div><br />

    <input type="submit" value="提交" class="btn btn-primary" />
  </form>
{% endblock %}
