{% extends 'base.html' %}

{% block header %}
  <h3 style="display: inline;">个人博客</h3>
  &nbsp;<a class="btn btn-default btn-sm" href="{% url 'contents:add_blog' %}"><span class="glyphicon glyphicon-plus">&nbsp;添加博客</span></a>
  <form action="{% url 'contents:personal_blogs' %}" method="get" style="text-align: right; float: right;">
    {% csrf_token %}
    <div class="input-group">
      <input type="text" name="keyword" />
      <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
    </div>
  </form>
{% endblock %}

{% block content %}
  <ul class="list-unstyled">
    {% for blog in blogs %}
      <li class="panel panel-default">
        <div class="panel-body">
          <div style="text-align:left;  float: left;">
            <h4><a href="{% url 'contents:detail_blog' blog.id %}" style="text-decoration: none; color: black;"><b>{{ blog.title }}</b></a></h4>
            <b>{{ blog.date_added }}</b>
          </div>
          <div class="list-group list-group-horizontal" style="text-align:right; float: right;">
            <a href="{% url 'contents:edit_blog' blog.id %}" class="list-group-item btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil">&nbsp;编辑</span></a>
            {% if blog.is_hidden %}
              <a href="{% url 'contents:display_blog' blog.id %}" class="list-group-item btn btn-default btn-sm"><span class="glyphicon glyphicon-ok-circle">&nbsp;展示</span></a>
            {% else %}
              <a href="{% url 'contents:hid_blog' blog.id %}" class="list-group-item btn btn-default btn-sm"><span class="glyphicon glyphicon-remove-circle">&nbsp;隐藏</span></a>
            {% endif %}
            <a href="{% url 'contents:del_blog' blog.id %}" class="list-group-item btn btn-default btn-sm"><span class="glyphicon glyphicon-trash">&nbsp;删除</span></a>
          </div>
        </div>
      </li>

      {% empty %}
      <li>还没有相关博客被添加</li>
    {% endfor %}
  </ul>

  <br />
  <br />

  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
      {% for page in pagelist %}
        <form action="{% url 'contents:personal_blogs' %}" method="get" style="float: left;">
          {% csrf_token %}
          <input type="hidden" name="keyword" value="{{ keyword }}" />
          <input type="hidden" name="pagenum" value="{{ page }}" />
          {% if page == pagenum %}
            <input class="btn btn-primary" type="submit" value="{{ page }}" />
          {% else %}
            <input class="btn btn-default" type="submit" value="{{ page }}" />
          {% endif %}
        </form>
      {% endfor %}
    </div>
  </div>
{% endblock %}
