{% extends 'base.html' %}

{% block header %}
  <h3 style="display: inline;">用户排名</h3>
  <div style="text-align: right; float: right;">本站用户数：{{ number_of_users }}</div>
{% endblock %}

{% block content %}
  <table class="table panel panel-default">
    <thead>
      <tr>
        <th>排名</th>
        <th>用户</th>
        <th>分数</th>
        <th>浏览</th>
        <th>博客总数</th>
        <th>博客链接</th>
      </tr>
    </thead>
    <tbody>
      {% for profile in profiles %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>
            <a href="{% url 'users:user_home' profile.user.id %}"><img src="{{ profile.user_photo_url }}" width="40" height="40" class="img-rounded" /></a>
            &nbsp; <a href="{% url 'users:user_home' profile.user.id %}" style="text-decoration: none; color: black;"><b>{{ profile.user.username }}</b></a>
          </td>
          <td>{{ profile.score }}</td>
          <td>{{ profile.visit }}</td>
          <td>{{ profile.number_of_blogs }}</td>
          <td>
            <form action="{% url 'contents:all_blogs' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="keyword" value="{{ profile.user.username }}" />
              <input type="submit" value="传送" />
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
