{% extends 'base.html' %}

{% block header %}
  <div class="jumbotron">
    {% if user.is_authenticated %}
      <div style="display: inline-block;">
        <br />
        <h3>
          <img src=" {{ profile.user_photo_url }} " width="70" height="70" class="img-rounded" />
          &nbsp; {{ user.username }}
        </h3><br />
        <small>{{ profile.user_description }}</small>
        <br />
      </div>

      <ul class="list-group" style="text-align: right; float: right;">
        <small>
          <li class="list-group-item">博客总数 {{ profile.number_of_blogs }}</li>
          <li class="list-group-item">浏览总量 {{ profile.visit }}</li>
          <li class="list-group-item">当前积分 {{ profile.score }}</li>
          <li class="list-group-item">本站排名 {{ rank }}</li>
        </small>
      </ul>
    {% else %}
      <h3>在查看个人主页之前请先 <a href="{% url 'users:login' %}">登录</a></h3>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="panel panel-default">
      <div class="panel-body">{{ profile.personal_homepage|safe }}</div>
    </div>
  {% endif %}
{% endblock %}
